@import url(variablestyle.css);
@import url(colorStyle.css);

/* .contenedor{

    gap: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 80px auto;
} */

/* .contenedor-form{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    background-color: var(--blue);
    backdrop-filter: blur(15px);
    border-radius: 35px;
} */


.formulario{
    display: flex;
    flex-direction: column;
    gap:22px;
    background: var(--blue);
    /* justify-content: center; */
    align-items: center;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}


.titulo-formulario{
    width: 460px;
    margin: 10px auto;
    color: var(--white);
}
.contenedor-formulario-modular {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 0.5s ease; /* Para que aparezca suavemente */
}

/* Asegúrate de que el formulario se adapte al ancho del dashboard */
.contenedor-form {
    background: var(--black-glass);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid var(--border-btn-activo);
    width: 100%;
    max-width: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    
}

